<html>
    <head>
        <title>Please login</title>
    </head>
    <body>
        {% if form.errors %}
            <p class="text-warning">Your username and password didn't match. Please try again.</p>
        {% endif %}

        <form role="form" class="form-horizontal" method="post" action="{% url 'boardgames_login' %}">
            {% csrf_token %}
            <!--the View passes a form variable which is rendered by the template-->
            {{ form }}
            <input class="btn btn-primary" type="submit" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </body>
</html>