* {
  outline: 1px solid red !important;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.app {
  display: -webkit-flex;
  display: flex;
}

.description {
  color: red;
  max-width: 705px;
}

.image {
  max-width: 460px;
}
