body {
  padding-top: 27px;
  font-family: "Kalimati", Verdana, sans-serif;
  color: #666666;
}
.presentation {
  max-width: 1024px;
  padding-left: 42px;
  padding-right: 46px;
  margin-left: 0px;
}

.strip-margins-sides {
  margin-left: 0px;
  margin-right: 0px;
}

.strip-padding-sides {
  padding-left: 0px;
  padding-right: 0px;
}

.header-section {
  max-width: 936px;
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 19px;
}

.header-section h1 {
  font-size: 48px;
}

.page-content {
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 31px;
  max-width: 483px;
}

.page-content h2 {
  font-size: 24px;
  margin-top: 0px;
  padding-bottom: 32px;
  margin-bottom: 0px;
  color: #F07C17;
}

.page-content p {
  font-size: 18px;
  width: 546px;
  margin-bottom: 0px;

}

.space-top {
  margin-top: 25px;
  margin-bottom: 0;
}

.left-section {
  padding-right: 0;
  padding-left: 0;
  max-width: 375px;
}

.image-mug {
  width: 375px;
  height: 375px;
}

.main-features {
  margin-top: 28px;
  padding-left: 31px;
  height: 223px;
  border-color: #CCCCCC;
  border-style: solid;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
}

.main-features h2 {
  margin-top: 32px;
  font-size: 24px;
  color: #F07C17;
}

.main-features ul {
  margin-top: 33px;
}

.main-features li {
  font-size: 16px;
  line-height: 30px;
}
