
.container {
  max-width: 1024px;
  padding-left: 42px;
  padding-right: 46px;
}

.header-section {
  max-width: 936px;
}

.image-mug {
  max-width: 375px;
  max-height: 375px;
}

.page-content {
  padding-left: 32px;
}
